{% extends 'base.html' %}

{% load widget_tweaks %}
{% load bootstrap4 %}

{% block body %}
<h1 class='mx-4'>회원가입</h1>
<form method="POST">
	{% csrf_token %}
	
	{% for field in form.visible_fields %}
	<div class="form-group mx-2 col-6">
		<label for="{{ field.id_for_label}}">{{field.label}}</label>
		{{ field }}
		{% if field.help_text %}
			<small class="form-text text-muted">
				{{field.help_text}}
			</small>
		{% endif %}
		{% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
		{% endfor %}
	</div>
	
	{% endfor %}
	
	{% buttons %}
	<button type="submit" class="mx-4 btn btn-primary" style="background-color: #689339; border-color: #689339">
		회원가입
	</button>
	{% endbuttons %}

</form>

{% endblock %}
